
body{
    background-color: black;
}
body.dark-mode {
  background-color: #202D36;
  color: #e6e6e6;
}
.search-input.dark-mode{
  background-color: #202D36;
}
.wrapper-card.dark-mode{
  background-color: #202D36;
  color: #ffff;
}
.wrapper-card:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.wrapper-card {
  background-color: #fff;
}
.search-input {
  background: red;
}
.img-card {
  height: 200px;
  object-fit: cover;
}

.btn-dropdown {
  border: 1px solid black;
}